CADDY_IMAGE=caddy@sha256:4c6e91c6ed0e2fa03efd5b44747b625fec79bc9cd06ac5235a779726618e530d
HOST_UID=<UID_OPERADOR>
HOST_GID=<GID_OPERADOR>
HALO_API_NAME=<DNS_DEL_CERTIFICADO>
HALO_BIND=<IP_LAN_O_VPN_AUTORIZADA>
HALO_CLIENT_KEY=<CLAVE_PRIVADA_DE_data/client.key>
TLS_DIRECTORY=/srv/halo/tls
